{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>
      {{#each tasks}}
        <tr>
          <td>Own task: {{@index}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>
            {{#if done}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-success btn-sm"
              >Done</a>
            {{else}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-warning btn-sm"
              >Undone</a>
            {{/if}}
            <a
              href="/task/info/{{_id}}"
              class="btn btn-secondary btn-sm"
            >Info</a>
            <a href="/task/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a>
            <a
              href="/task/delete/{{_id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
      {{#each shareTasks}}
        <tr>
          <td>Shared task: {{@index}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>
            {{#if done}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-success btn-sm"
              >Done</a>
            {{else}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-warning btn-sm"
              >Undone</a>
            {{/if}}
            <a
              href="/task/info/{{_id}}"
              class="btn btn-secondary btn-sm"
            >Info</a>
            <a href="/task/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a>
            <a
              href="/task/delete/{{_id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else if shareTasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>
      {{#each shareTasks}}
        <tr>
          <td>Shared task: {{@index}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>
            {{#if done}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-success btn-sm"
              >Done</a>
            {{else}}
              <a
                href="/task/done/{{_id}}"
                class="btn btn-warning btn-sm"
              >Undone</a>
            {{/if}}
            <a
              href="/task/info/{{_id}}"
              class="btn btn-secondary btn-sm"
            >Info</a>
            <a href="/task/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a>
            <a
              href="/task/delete/{{_id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h2>There aren't tasks</h2>
      <img src="/icons/empty-folder.svg" alt="Empty folder" class="w-75" />
    </div>
  </div>
{{/if}}