<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>
          {{#if done}}
            <a href="/task/done/{{_id}}">Undone</a>
          {{else}}
            <a href="/task/done/{{_id}}">Done</a>
          {{/if}}
          <a href="/task/edit/{{_id}}">Edit</a>
          <a href="/task/delete/{{_id}}">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>