<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div
        style="background-color: {{task.color}}; height: 10px;"
        class="rounded-top"
      ></div>
      <div class="card card-body p-4 bg-dark text-white">
        <h3 class="card-title">{{task.title}}</h3>
        <p>{{task.description}}</p>
        <h6>Creator: {{creator.user}}</h6>
        {{#if task.share}}
          <h6>Shared: {{task.share}}</h6>
        {{else}}
          <h6>Private</h6>
        {{/if}}
      </div>
    </div>
  </div>
</div>